version: '2.1'

services:
  integration-tester:
    build: ./NAME.IntegrationTests
    links:
      - mongo
      - rabbitmq
      - specific-mongo
      - specific-rabbitmq
      - dummy-service
      - elasticsearch
      - specific-elasticsearch
    environment:
      - LATEST_MONGO_HOSTNAME=mongo
      - LATEST_RABBIT_HOSTNAME=rabbitmq
      - LATEST_SQLSERVER_HOSTNAME=sqlserver
      - SPECIFIC_MONGO_HOSTNAME=specific-mongo
      - SPECIFIC_MONGO_VERSION=3.0.14
      - SPECIFIC_RABBIT_HOSTNAME=specific-rabbitmq
      - SPECIFIC_RABBIT_VERSION=3.6.5
      - SPECIFIC_SERVICE_HOSTNAME=dummy-service
      - SPECIFIC_SERVICE_VERSION=1.0.0
      - OPERATING_SYSTEM=debian
      - RUNNING_ON_DOCKER=true
      - LATEST_ELASTICSEARCH_HOSTNAME=elasticsearch
      - SPECIFIC_ELASTICSEARCH_HOSTNAME=specific-elasticsearch
      - SPECIFIC_ELASTICSEARCH_VERSION=5.5.1
    volumes:
      - ../Output/Artifacts/NuGets/Release:/integration/nugets
      - ../Output/IntegrationTestsResults:/integration/TestResults
    depends_on:
      - mongo
      - rabbitmq
      - sqlserver
      - specific-mongo
      - specific-rabbitmq
      - dummy-service
      - elasticsearch
      - specific-elasticsearch
  dummy-service:
    build: ./NAME.DummyService
    environment:
      - RUNNING_ON_DOCKER=true
    volumes:
      - ../Output/Artifacts/NuGets/Release:/service/nugets
    expose:
      - "5000"
  mongo:
    image: mongo
    expose:
      - "27017"
  specific-mongo:
    image: mongo:3.0.14
    expose:
      - "27017"
  rabbitmq:
    image: rabbitmq
    expose:
      - "5672"
  specific-rabbitmq:
    image: rabbitmq:3.6.5
    expose:
      - "5672"
  sqlserver:
    image: microsoft/mssql-server-linux
    expose:
      - "1433"
    environment:
      - SA_PASSWORD=W1#llnotbeused
      - ACCEPT_EULA=Y
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.3
    expose:
      - "9200"
    environment:
      - xpack.security.enabled=false
  specific-elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.5.1
    expose:
      - "9200"
    environment:
      - xpack.security.enabled=false
     